body {
	font: 14pt Calibri;
}

table#files {
	margin-bottom: 30px;
	border-collapse: collapse;
	border-spacing: 0;
}

table#files td, table#files th {
	border: 1px solid #eee;
	padding: 8px 16px;
}

table#files th {
	text-align: left;
	background-color: #eee;
}

table#files + h2 {
	padding-top: 20px;
	border-top: 1px solid #ccc;
}

input {
	font-size: 14pt;
}

.error {
	color: #a00;
	border: 2px solid #a00;
	padding: 10px 20px;
}

.error h2 {
	margin: 10px 0;
}